@keyframes loadingIndicator-spinner {
  to {transform: rotate(360deg);}
}

.moduleContainer.loadingIndicator {
  display: none;
}
.moduleContainer.loadingIndicator.show {
  display: block;
}

.main.loadingIndicator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($ls-color-white,0.3);
  z-index: 100000;
  display: flex;
}

.main.loadingIndicator::before {
  @extend .fas;
  content: fa-content($fa-var-spinner);
  animation: loadingIndicator-spinner 1.5s linear infinite;
  color: $ls-color-black;
  font-size: 4rem;
  margin: 20% auto auto auto;
}


.main.loadingIndicator [data-lsjs-element="loadingText"] {
  display: none;
}