.formReviewerApplied[data-misc-close-form-initially="1"] input.text:disabled,
.formReviewerApplied[data-misc-close-form-initially="1"] select:disabled {
  border: none;
  border-bottom: 1px solid $ls-color-black;
  color: $ls-color-dark-grey;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.formReviewerApplied[data-misc-close-form-initially="1"] input.submit:not(.showInFormReviewer):disabled {
  display: none;
}

.formReviewerApplied [data-lsjs-element="openFormToggler"]{
  display: none;
}

.formReviewerApplied.formClosed [data-lsjs-element="openFormToggler"]{
  display: block;
}

.formReviewerApplied label.mandatory::after {
  content: "*";
  display: inline-block;
}

.formReviewerApplied label.mandatory .mandatory {
  display: none;
}

.formReviewerApplied [data-lsjs-element="openFormToggler"]::after {
  @extend .fas;
  content: fa-content($fa-var-edit);
  cursor: pointer;
}