.autoModuleContainer.messageBox {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
}

.autoModuleContainer.messageBox .main {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: auto;
  position: fixed;
  width: 1px;
  height: 1px;
}

.autoModuleContainer.messageBox .main .msgBoxInside {
  background-color: $ls-color-white;
  border: 1px solid $ls-color-black;
  box-shadow: 0 0 14px 7px $ls-color-grey;
  color: $ls-color-black;
  height: auto;
  margin-top: -100px;
  padding: 20px;
  width: 400px;
  margin-left: -200px;
  text-align: center;
}

.autoModuleContainer.messageBox .main button {
  background-color: $ls-color-dark-grey;
  border: 1px solid $ls-color-black;
  color: $ls-color-grey;
  font-weight: bold;
  height: 30px;
  width: 100px;
}

.autoModuleContainer.messageBox .main .msg {
  font-size: 16px;
  margin-bottom: 20px;
}