body:not(.lsjs-active) .hideWhenNoLsjs {
  display: none !important;
}

body.lsjs-active .hideWhenLsjs {
  display: none !important;
}

@import "modules/automaticSelectAllCheckbox/styles/_lsjs-automaticSelectAllCheckbox.scss";
@import "modules/formReviewer/formReviewerManager/styles/_lsjs-formReviewer.scss";
@import "modules/loadingIndicator/styles/_lsjs-loadingIndicator.scss";
@import "modules/loadingIndicatorNG/styles/_lsjs-loadingIndicatorNG.scss";
@import "modules/messageBox/styles/_lsjs-messageBox.scss";
@import "modules/navtab/navtabInstance/styles/_lsjs-navtab.scss";
@import "modules/ocFlex/styles/_lsjs-ocFlex.scss";
@import "modules/switchGallery/styles/_lsjs-switchGallery.scss";
@import "modules/stickyHeader/styles/_lsjs-stickyHeader.scss";

@import "modules/scrollToElement/styles/_lsjs-scrollToTop.scss";

@import "modules/slider/sliderInstance/styles/_lsjs-slider.scss";
@import "modules/sliderInput/sliderInputManager/styles/_lsjs-slider-input.scss";
@import "modules/imageZoomer/imageZoomerInstance/styles/_lsjs-image-zoomer.scss";

@import "modules/numberStepper/styles/_lsjs-numberStepper.scss";