body {
  &.lsjs-image-zoomer-open {
    overflow: hidden;
  }

  .lsjs-zoomer-overlay {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;

    .btn-close {
      position: fixed;
      z-index: 100001;
      top: 2rem;
      right: 2rem;
      &::after {
        .fa-icon;
        .fas;
        content: @fa-var-window-close;
        color: @ls-color-white;
        cursor: pointer;
      }
    }
  }
  
  .lsjs-image-zoomer-applied {
    cursor: zoom-in;
  }
}