.lsjs-slider {
  .sliding-area {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &.mouse-drag-active {
    .sliding-area {
      cursor: grab;
    }

    &.dragging {
      .sliding-area {
        cursor: grabbing;
      }
    }
  }

  .navigation-arrow-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 1;

    .arrow {
      margin: auto;
      opacity: .5;
      cursor: pointer;

      &::after {
        .fa-icon;
        .fas;
        font-size: 4rem;
        color: @ls-color-white;
        text-shadow: 0 0 1rem @ls-color-black;
      }
    }

    &.left {
      left: 1rem;

      .arrow {
        &::after {
          content: @fa-var-chevron-left;
        }
      }
    }

    &.right {
      right: 1rem;

      .arrow {
        &::after {
          content: @fa-var-chevron-right;
        }
      }
    }
  }

  &:hover {
    .navigation-arrow-container {
      .arrow {
        opacity: 1;
      }
    }
  }

  &:not(.left-possible) {
    .left {
      .arrow {
        display: none;
      }
    }
  }

  &:not(.right-possible) {
    .right {
      .arrow {
        display: none;
      }
    }
  }

  .navigation-dots-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;

    .navigation-dot {
      position: relative;
      display: inline-block;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1.5rem;
      vertical-align: middle;

      &.active {
        width: 2.5rem;
        height: 2.5rem;

        &::after {
          font-size: 2.5rem;
        }
      }

      &::after {
        .fa-icon;
        .fas;
        content: @fa-var-circle;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        color: @ls-color-white;
        text-shadow: 0 0 .2rem @ls-color-black;
      }
    }
  }

  &.autoplay-active {
    .navigation-dot {
      &.active {
        &::before {
          .fa-icon;
          .fas;
          content: @fa-var-pause;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          text-align: center;
          padding-top: .5rem;
          padding-left: 0;
          z-index: 1;
          font-size: 1.5rem;
          color: @ls-color-black;
        }
      }
    }

    &.paused {
      .navigation-dot {
        &.active {
          &::before {
            content: @fa-var-play;
            padding-left: .2rem;
          }
        }
      }
    }
  }
}