$ocNaviAnimationDuration: .5s;
$ocNaviMarginLeftToHide: -110%;
$ocNaviTogglerIconClosed: $fa-var-bars;
$ocNaviTogglerIconOpen: $fa-var-times;

@keyframes ocNaviIn {
  0% {
    margin-left: $ocNaviMarginLeftToHide;
  }
  99.9% {
    overflow-y: hidden;
  }

  100% {
    margin-left: 0;
    overflow-y: scroll;
  }
}

@keyframes ocNaviOut {
  0% {
    overflow-y: hidden;
    margin-left: 0;
  }

  100% {
    margin-left: $ocNaviMarginLeftToHide;
  }
}

@keyframes ocNaviInBodyStyles {
  99.9% {
    overflow: initial;
    position: initial;
  }

  100% {
    overflow: hidden;
    position: fixed;
  }
}

@keyframes ocNaviOutBodyStyles {
  0% {
    overflow: initial;
    position: initial;
  }
}

@keyframes ocNaviTogglerIcon {
  20% {
    content: fa-content($ocNaviTogglerIconClosed);
   }

  100% {
    content: fa-content($ocNaviTogglerIconOpen);
   }
}

@keyframes ocNaviTogglerIconReverse {
  //0% {
  //  content: fa-content($ocNaviTogglerIconOpen);
  //}

  100% {
    content: fa-content($ocNaviTogglerIconClosed);
  }
}

.ocFlexToggler {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99001;
  display: none;

  &::after {
    @extend .fas;
    font-size: 3.2rem;
    cursor: pointer;
    content: fa-content($ocNaviTogglerIconClosed);
  }
}

body {
  animation-duration: $ocNaviAnimationDuration;
  animation-fill-mode: forwards;
  &.ocFlexOpen {
    .ocFlexToggler::after {
      animation-name: ocNaviTogglerIcon;
    }
  }
  &.ocFlexClosed {
    .ocFlexToggler::after {
      animation-name: ocNaviTogglerIconReverse;
    }
  }
}

#ocFlexContainer_example01 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 1.6rem;
  margin-left: $ocNaviMarginLeftToHide;
  margin-bottom: 2rem !important;
  overflow: hidden;
  background-color: $ls-color-white;
  box-shadow: 0 .4rem 1rem $ls-color-black;
  z-index: 99000;
  animation-duration: $ocNaviAnimationDuration;
  animation-fill-mode: forwards;
}

body.ocFlexClosed {
  animation-name: ocNaviOutBodyStyles;
  #ocFlexContainer_example01 {
    animation-name: ocNaviOut;
  }
}

body.ocFlexOpen {
  animation-name: ocNaviInBodyStyles;

  #ocFlexContainer_example01 {
    animation-name: ocNaviIn;
  }

  /*
   * Show the off canvas toggler regardless of the screen size if
   * the ocNavi is open. Otherwise the ocNavi could not be closed
   * if the screen size has increased while the ocNavi is open.
   */
  .ocFlexToggler {
    display: block;
  }
}

@media only screen and (max-width: $ls-oc-navi-max-width) {
  .ocFlexToggler {
    display: block;
  }
}

body.sticky {
  .ocFlexToggler {
    display: block;
  }
}