#lsOcNaviTogglerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99001;

  #lsOcNaviToggler {
    @include centered-max-width-container();
    height: 0;
    display: none;

    &::after {
      position: absolute;
      @extend %fa-icon;
      @extend .fas;
      top: 1rem;
      right: 1rem;
      font-size: 3rem;
      cursor: pointer;
      content: fa-content($fa-var-bars);
    }

    &.lsOcNaviOpen {
      &::after {
        content: fa-content($fa-var-times);
      }
    }
  }
}

#offCanvasContainer {
  @include centered-max-width-container();
}

#lsOcNavi {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 1rem;
  margin-bottom: 2rem !important;
  overflow: hidden;
  background-color: $ls-color-white;
  box-shadow: 0 .4rem 1rem $ls-color-black;
  z-index: 99000;
}

#lsOcNaviTogglerContainer {
  transition-property: opacity;
  transition-duration: .3s;
}

body.useOcNavi {
  &.lsOcNaviRunning,
  &.lsOcNaviOpen {
    #lsOcNaviTogglerContainer {
      opacity: 0;
      transition-duration: .01s;
    }

    &.lsOcNaviOpen {
      &:not(.lsOcNaviRunning) {
        overflow: hidden;
        position: fixed;

        #lsOcNaviTogglerContainer {
          opacity: 1;
        }

        #lsOcNavi {
          overflow-y: scroll;
        }
      }
    }
  }

  /*
   * Show the off canvas toggler regardless of the screen size if
   * the ocNavi is open. Otherwise the ocNavi could not be closed
   * if the screen size has increased while the ocNavi is open.
   */
  &.lsOcNaviOpen #lsOcNaviTogglerContainer #lsOcNaviToggler {
    display: block;
  }
}

@media only screen and (max-width: $ls-oc-navi-max-width) {
  /*
   * show the off canvas navigation so that it is always visible
   * if the off canvas javascript is not in use
   */
  #lsOcNavi {
    display: block;
  }

  body.useOcNavi {
    /*
     * hide the off canvas navigation if the
     * off canvas javascript is in use
     */
    #lsOcNavi {
      display: none;
      margin-bottom: 0;
    }

    /*
     * show the off canvas toggler if the
     * off canvas javascript is in use
     */
    #lsOcNaviToggler {
      display: block;
    }
  }
}

body.sticky {
  #lsOcNaviTogglerContainer {
    #lsOcNaviToggler {
      display: block;
    }
  }
}


/*
 * Fallback if no javascript is active
 */
@keyframes oc_height {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes oc_margin-left {
  0% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes oc_opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body:not(.useOcNavi) {
  #offCanvasContainer {
    display: none;
    padding: 1rem;
    overflow: hidden;
    height: auto;
    animation: oc_height 2.5s, oc_margin-left 2.5s, oc_opacity 2.5s;
  }

  @media only screen and (max-width: $ls-oc-navi-max-width) {
    #offCanvasContainer {
      display: block;
    }
  }
}