/*
 * -> off canvas navigation
 */
#lsOcNaviToggler {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: contain;
    display: none;
    position: absolute;
    z-index: 10100;
    top: 10px;
    right: 10px;
}

#lsOcNaviToggler::after {
    content: "NAVI";
}

#lsOcNavi {
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: none;
    box-shadow: 0 4px 10px #666666;
    margin-bottom: 20px !important;
}

/*
 * Show the off canvas toggler regardless of the screen size if
 * the ocNavi is open. Otherwise the ocNavi could not be closed
 * if the screen size has increased while the ocNavi is open.
 */
body.useOcNavi.lsOcNaviOpen #lsOcNaviToggler {
    display: block;
}

body.useOcNavi #lsOcNaviToggler {
    position: absolute;
    right: 7%;
    top: 20px;
}

@media only screen and (max-width: 768px) {
    /*
     * show the off canvas navigation so that it is always visible
     * if the off canvas javascript is not in use
     */
    #lsOcNavi {
        display: block;
    }

    /*
     * hide the off canvas navigation if the
     * off canvas javascript is in use
     */
    body.useOcNavi #lsOcNavi {
        display: none;
        margin-bottom: 0;
    }

    /*
     * show the off canvas toggler if the
     * off canvas javascript is in use
     */
    body.useOcNavi #lsOcNaviToggler {
        display: block;
    }
}
/*
 * <- off canvas navigation
 */