.mainNumberStepper input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;


}



.mainNumberStepper button {
        transition: none !important;
        content: 'hallo' !important;
    transform: none;
    color: white !important;
}

.minMaxBound {
    background-color: #ccc !important;
}




/*
.numberStepperApplied {
  border: 3px solid red !important;
  height: 65px;
}
*/





